.header__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  /* align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  height: 95vh;
  margin-bottom: 20px;
  overflow: hidden;
}

.header__text {
  color: #2F4858;
  max-width: 500px;
  padding: 20px;
}

.header__text h1 {
  font-size: 3rem;
  font-weight: 500;
}

.header__text p {
  color: #2f4858b7;
  margin-top: 20px;
  line-height: 1.5;
}

.header__image {
  /* max-width: 50%; */
  min-width: 50%;
}

/* @media (min-width: 840px) and (max-width: 1280px) {
  .books__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .books__container {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media (min-width: 375px) and (max-width: 665px) {
  .header__items {
    grid-template-columns: 1fr;
  }
  .header__text {
    order: 1;
  }
  .header__image {
    max-width: 70%;
  }
  .header__text h1 {
    font-size: 2rem;
  }
  .header__text p {
    margin: 20px 0;
    line-height: 1.5;
  }
}

@media (min-width: 666px) and (max-width: 900px) {
  .header__items {
    height: 80vh;
  }
  .header__text h1 {
    font-size: 2rem;
  }
  .header__text p {
    margin-top: 20px;
    line-height: 1.5;
  }
}

/* @media only screen and (min-width: 861px) {
  .header__items {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
} */