.header__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 95vh;
}

.header__text {
  color: #2F4858;
  max-width: 500px;
}

.header__text h1 {
  font-size: 3rem;
  font-weight: 500;
}

.header__text p {
  color: #2f4858b7;
  margin-top: 20px;
  line-height: 1.5;
}

.header__image {
  max-width: 50%;
}

/* @media (min-width: 840px) and (max-width: 1280px) {
  .books__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .books__container {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media (min-width: 320px) and (max-width: 839px) {
  .header__text {
    text-align: center;
    order: 1;
  }
  .header__image {
    width: 100%;
    object-fit: contain;
  }
  .header__text h1 {
    font-size: 2rem;
  }
  .header__text p {
    margin-top: 20px;
    line-height: 1.5;
    padding: 0px 20px;
  }
}