.search__heading {
  color: #2F4858;
  text-align: center;
  font-size: 3rem;
}

.search__heading:after {
  content: '';
  display: block;
  width: 200px;
  height: 4px;
  background-color: #2F4858;
  margin: 20px auto;
}

form {
  width: 600px;
  margin: 40px auto;
}

.input {
  width: 80%;
}

.search__btn {
  padding: 14px 24px !important;
}

@media (min-width: 320px) and (max-width: 599px) {
  .search__heading {
    font-size: 2rem;
  }
  .search__heading:after {
    width: 120px;
    height: 4px;
  }
  .input {
    width: 60%;
    margin-left: 20px !important;
  }
}